@model nosted_dotnet.MVC.Models.CheckList.CheckListViewModel
@{
    ViewData["Title"] = "Sjekkliste";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" type="text/css" href="~/css/ServiceSkjema.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
    <title>Sjekkliste</title>
    <style>
    .form-container {
        display: block;
        width: 600px;
        margin: 0 auto;
    }
    .job-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .job-name {
        flex: 1;
    }
    .radio-option {
        display: inline-block;
        margin-right: 75px;     
    }
     
     @*
     1. Gjøre radioknapper større og gi dem bakgrunsfarge som samsvarer med verdien.
     2' Script for å kunne velge "ok" for en hel category.
     3. Insert into Database.
     *@
    </style>
</head>

 
<form class="form-container" asp-action="index" asp-controller="checklist" method="post">
    @Html.AntiForgeryToken() <!-- This line to includes the anti-forgery token -->
    <h1>Saksnummer @Model.CheckListId</h1>
    @*Trenger en rad for OK, Burde Skiftes og Defekt over hver coloumn for valgene *@
    @foreach (var categoryGroup in Model.CategoryGroups)
    {
        <h3>@categoryGroup.Name</h3>
        @foreach (var group in categoryGroup.Jobs)
        {
            <div class="job-row">
                <div class="job-name">@group</div>
                <div>                   
                    <div class="radio-option"><label for="ok"></label><input type="radio" id="ok" name="@group" value="ok"></div>
                    <div class="radio-option"><label for="bs"></label><input type="radio" id="bs" name="@group" value="bs"></div>
                    <div class="radio-option"><label for="def"></label><input type="radio" id="def" name="@group" value="def"></div>
                </div>
            </div>
        }
    }

    <br>
    <h3><label for="TestSettings">TrykkSetting og Funksjons Test</label></h3><br>
     
    <div class="column">
        <div class="label"><label for="trykksetting">Trykksetting</label></div>
        @Html.TextBoxFor(m => m.TrykkSetting) Bar
    </div>
    <div class="column">
        <div class="label"><label for="Trekkkraft">Trekkkraft</label></div>
        @Html.TextBoxFor(m => m.TrekKraft) KN
    </div>
    <div class="column">
        <div class="label"><label for="BremseKraft">BremseKraft</label></div>
        @Html.TextBoxFor(m => m.BremseKraft) KN
    </div>
    <div class="column">
            <div class="label"><label for="Resulatat">Resultat For Test</label></div>
            @Html.TextAreaFor(m => m.FunksjonsTestKommentar)
        </div>
    <div class="column">
            <div class="label"><label for="ConsumedHours">Antall Timer</label></div>
            @Html.TextBoxFor(m => m.ConsumedHours)
        </div>
    <br/>
    <div class="column">
        <div class="label"><h3><label for="MechanicComment">Kommentar</label></h3></div>
        @Html.TextAreaFor(m => m.MechanicComment)
    </div>
    <input type="submit" value="Fullfør Sjekkliste">
</form>