@model nosted_dotnet.MVC.Models.Sjekkliste.SjekklisteViewModel

@{
    ViewData["Title"] = "Sjekkliste";
}

<script src="js/site.js" defer></script>


<form class="form-container" asp-action="Upsert" asp-controller="Sjekkliste" method="post">
   <td> @Html.AntiForgeryToken() <!-- lager anti-forgery token -->
    <input type="hidden" asp-for="@Model.Id"/>
    <input type="hidden" asp-for="@Model.OrdreId"/>


   <td>
    <input type="hidden" asp-for="@Model.Id"/>
    <input type="hidden" asp-for="@Model.OrdreId"/>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Mekanisk</th>
                        <td><button id="selectAllOkButtonMekanisk" class="btn btn-sm btn-secondary" type="button">Ok</button></td>
                        <td>Burde Skiftes</td>
                        <td>Defekt</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Clutch Lameller</td>
                           <td> @Html.RadioButtonFor(m => m.ClutchLameller, "1",new { @class = "mekanisk" })</td> 
                           <td> @Html.RadioButtonFor(m => m.ClutchLameller, "2")</td>  
                           <td> @Html.RadioButtonFor(m => m.ClutchLameller, "3")</td> 
                    </tr>
                    <tr>
                        <td>Bremser | Bånd | Pal</td>
                           <td> @Html.RadioButtonFor(m => m.BremserBP, "1",new { @class = "mekanisk" })</td> 
                           <td> @Html.RadioButtonFor(m => m.BremserBP, "2")</td>  
                           <td> @Html.RadioButtonFor(m => m.BremserBP, "3")</td> 
                    </tr>
                    <tr>
                        <td>Trommel Lager</td>
                           <td> @Html.RadioButtonFor(m => m.TrommelLager, "1",new { @class = "mekanisk" })</td> 
                           <td> @Html.RadioButtonFor(m => m.TrommelLager, "2")</td>  
                           <td> @Html.RadioButtonFor(m => m.TrommelLager, "3")</td> 
                    </tr>
                    <tr>
                        <td>Kjedestrammer</td>
                           <td> @Html.RadioButtonFor(m => m.Kjedestrammer, "1",new { @class = "mekanisk" })</td> 
                           <td> @Html.RadioButtonFor(m => m.Kjedestrammer, "2")</td>  
                           <td> @Html.RadioButtonFor(m => m.Kjedestrammer, "3")</td> 
                    </tr>
                    <tr>
                        <td>Wire</td>
                           <td> @Html.RadioButtonFor(m => m.Wire, "1",new { @class = "mekanisk" })</td> 
                           <td> @Html.RadioButtonFor(m => m.Wire, "2")</td>  
                           <td> @Html.RadioButtonFor(m => m.Wire, "3")</td> 
                    </tr>
                    <tr>
                        <td>Pinion Lager</td>
                           <td> @Html.RadioButtonFor(m => m.PinionLager, "1",new { @class = "mekanisk" })</td> 
                           <td> @Html.RadioButtonFor(m => m.PinionLager, "2")</td>  
                           <td> @Html.RadioButtonFor(m => m.PinionLager, "3")</td> 
                    </tr>
                    <tr>
                        <td>Kjedehjul Kile</td>
                           <td> @Html.RadioButtonFor(m => m.KjedehjulKile, "1",new { @class = "mekanisk" })</td> 
                           <td> @Html.RadioButtonFor(m => m.KjedehjulKile, "2")</td>  
                           <td> @Html.RadioButtonFor(m => m.KjedehjulKile, "3")</td> 
                    </tr>
                    </tbody>

                    <thead>
                    <tr>
                        <th>Hydraulisk</th>
                        <td><button id="selectAllOkButtonHydraulisk" class="btn btn-sm btn-secondary" type="button">Ok</button></td>
                        <td>Burde Skiftes</td>
                        <td>Defekt</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sylinder Lekasje</td>
                           <td> @Html.RadioButtonFor(m => m.SylinderLekasje, "1",new { @class = "hydraulisk" })</td> 
                           <td> @Html.RadioButtonFor(m => m.SylinderLekasje, "2")</td>  
                           <td> @Html.RadioButtonFor(m => m.SylinderLekasje, "3")</td> 
                    </tr>
                    <tr>
                        <td>Slanger</td>
                           <td> @Html.RadioButtonFor(m => m.Slanger, "1",new { @class = "hydraulisk" })</td> 
                           <td> @Html.RadioButtonFor(m => m.Slanger, "2")</td>  
                           <td> @Html.RadioButtonFor(m => m.Slanger, "3")</td> 
                    </tr>
                    <tr>
                        <td>Hydraulikkblokk Test</td>
                           <td> @Html.RadioButtonFor(m => m.HydraulikkblokkTest, "1",new { @class = "hydraulisk" })</td> 
                           <td> @Html.RadioButtonFor(m => m.HydraulikkblokkTest, "2")</td>  
                           <td> @Html.RadioButtonFor(m => m.HydraulikkblokkTest, "3")</td> 
                    </tr>
                    <tr>
                        <td>Oljeskifte på Tank</td>
                           <td> @Html.RadioButtonFor(m => m.OljeskifteTank, "1",new { @class = "hydraulisk" })</td> 
                           <td> @Html.RadioButtonFor(m => m.OljeskifteTank, "2")</td>  
                           <td> @Html.RadioButtonFor(m => m.OljeskifteTank, "3")</td> 
                    </tr>
                    <tr>
                        <td>Oljeskifte på Girboks</td>
                           <td> @Html.RadioButtonFor(m => m.OljeskifteGirboks, "1",new { @class = "hydraulisk" })</td> 
                           <td> @Html.RadioButtonFor(m => m.OljeskifteGirboks, "2")</td>  
                           <td> @Html.RadioButtonFor(m => m.OljeskifteGirboks, "3")</td> 
                    </tr>
                    <tr>
                        <td>Ringsylinder | Skift Tetninger</td>
                           <td> @Html.RadioButtonFor(m => m.RingsylinderTetninger, "1",new { @class = "hydraulisk" })</td> 
                           <td> @Html.RadioButtonFor(m => m.RingsylinderTetninger, "2")</td> 
                           <td> @Html.RadioButtonFor(m => m.RingsylinderTetninger, "3")</td> 
                    </tr>
                    <tr>
                        <td>Bremsesylinder | Skift Tetninger</td>
                           <td> @Html.RadioButtonFor(m => m.BremsesylinderTetninger, "1",new { @class = "hydraulisk" })</td> 
                           <td> @Html.RadioButtonFor(m => m.BremsesylinderTetninger, "2")</td> 
                           <td> @Html.RadioButtonFor(m => m.BremsesylinderTetninger, "3")</td> 
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th>Elektrisk</th>
                        <td><button id="selectAllOkButtonElektrisk" class="btn btn-sm btn-secondary" type="button">OK</button></td>
                        <td>Burde Skiftes</td>
                        <td>Defekt</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ledningsnett</td>
                            <td>@Html.RadioButtonFor(m => m.Ledningsnett, "1",new { @class = "elektrisk" })</td>
                            <td>@Html.RadioButtonFor(m => m.Ledningsnett, "2")</td>
                            <td>@Html.RadioButtonFor(m => m.Ledningsnett, "3")</td>
                    </tr>
                    <tr>
                        <td>Radio</td>
                           <td> @Html.RadioButtonFor(m => m.Radio, "1",new { @class = "elektrisk" })</td> 
                           <td> @Html.RadioButtonFor(m => m.Radio, "2")</td>  
                           <td> @Html.RadioButtonFor(m => m.Radio, "3")</td> 
                        
                    </tr>
                    <tr>
                        <td>Knappekasse</td>
                           <td> @Html.RadioButtonFor(m => m.Knappekasse, "1",new { @class = "elektrisk" })</td> 
                           <td> @Html.RadioButtonFor(m => m.Knappekasse, "2")</td> 
                           <td> @Html.RadioButtonFor(m => m.Knappekasse, "3")</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<h3>
    <label for="TestSettings">Trykksetting og Funksjonstest</label>
</h3>

<div class="col-md-4">
    <div class="label">
        <label for="trykksetting">Trykksetting</label>
    </div>
   @Html.TextBoxFor(m => m.TrykkSetting) Bar
</div>

<div class="col-md-4">
    <div class="label">
        <label for="Trekkkraft">Trekkkraft</label>
    </div>
   @Html.TextBoxFor(m => m.TrekKraft) KN
</div>

<div class="col-md-4">
    <div class="label">
        <label for="BremseKraft">BremseKraft</label>
    </div>
   @Html.TextBoxFor(m => m.BremseKraft) KN
</div>

<div class="col-md-4">
    <div class="label">
        <label for="Resulatat">Resultat For Test</label>
    </div>
   @Html.TextAreaFor(m => m.Resultat)
</div>

<div class="row">
    <div class="col-md-3">
        <label for="MechanicComment">Kommentar:</label>
        <input asp-for="@Model.MechanicComment" class="form-control"/>
    </div>
</div>

    <div class="row">
        <div class="col-md-6 mt-3">
         <button type="submit" class="btn btn-warning">Lagre</button>
            <a href="@Url.Action("Index", "Ordre")" class="btn btn-secondary">Tilbake</a>
        </div>
    </div>

</form>