@model nosted_dotnet.MVC.Models.Sjekkliste.SjekklisteViewModel

@{
    ViewData["Title"] = "Sjekkliste";
}

<script src="js/site.js" defer></script>


<form class="form-container" asp-action="Upsert" asp-controller="Sjekkliste" method="post">
    @Html.AntiForgeryToken() <!-- This line to includes the anti-forgery token -->
    <input type="hidden" asp-for="@Model.Id"/>
    <input type="hidden" asp-for="@Model.OrdreId"/>


    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="@Model.Id"/>
    <input type="hidden" asp-for="@Model.OrdreId"/>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Mekanisk</th>
                        <th><button id="selectAllOkButton" class="btn btn-sm btn-secondary" type="button">Alle Ok</button></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Clutch Lameller</td>
                        <td>
                            @Html.RadioButtonFor(m => m.ClutchLameller, "1") Ok
                            @Html.RadioButtonFor(m => m.ClutchLameller, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.ClutchLameller, "3") Defekt
                        </td>
                    </tr>
                    <tr>
                        <td>Bremser | Bånd | Pal</td>
                        <td>
                            @Html.RadioButtonFor(m => m.BremserBP, "1") Ok
                            @Html.RadioButtonFor(m => m.BremserBP, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.BremserBP, "3") Defekt
                        </td>
                    </tr>
                    <tr>
                        <td>Trommel Lager</td>
                        <td>
                            @Html.RadioButtonFor(m => m.TrommelLager, "1") Ok
                            @Html.RadioButtonFor(m => m.TrommelLager, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.TrommelLager, "3") Defekt
                        </td>
                    </tr>
                    <tr>
                        <td>Kjedestrammer</td>
                        <td>
                            @Html.RadioButtonFor(m => m.Kjedestrammer, "1") Ok
                            @Html.RadioButtonFor(m => m.Kjedestrammer, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.Kjedestrammer, "3") Defekt
                        </td>
                    </tr>
                    <tr>
                        <td>Wire</td>
                        <td>
                            @Html.RadioButtonFor(m => m.Wire, "1") Ok
                            @Html.RadioButtonFor(m => m.Wire, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.Wire, "3") Defekt
                        </td>
                    </tr>
                    <tr>
                        <td>Pinion Lager</td>
                        <td>
                            @Html.RadioButtonFor(m => m.PinionLager, "1") Ok
                            @Html.RadioButtonFor(m => m.PinionLager, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.PinionLager, "3") Defekt
                        </td>
                    </tr>
                    <tr>
                        <td>Kjedehjul Kile</td>
                        <td>
                            @Html.RadioButtonFor(m => m.KjedehjulKile, "1") Ok
                            @Html.RadioButtonFor(m => m.KjedehjulKile, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.KjedehjulKile, "3") Defekt
                        </td>
                    </tr>
                    </tbody>

                    <thead>
                    <tr>
                        <th>Hydraulisk</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sylinder Lekasje</td>
                        <td>
                            @Html.RadioButtonFor(m => m.SylinderLekasje, "1") Ok
                            @Html.RadioButtonFor(m => m.SylinderLekasje, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.SylinderLekasje, "3") Defekt
                        </td>
                    </tr>
                    <tr>
                        <td>Slanger</td>
                        <td>
                            @Html.RadioButtonFor(m => m.Slanger, "1") Ok
                            @Html.RadioButtonFor(m => m.Slanger, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.Slanger, "3") Defekt
                        </td>
                    </tr>
                    <tr>
                        <td>Hydraulikkblokk Test</td>
                        <td>
                            @Html.RadioButtonFor(m => m.HydraulikkblokkTest, "1") Ok
                            @Html.RadioButtonFor(m => m.HydraulikkblokkTest, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.HydraulikkblokkTest, "3") Defekt
                        </td>
                    </tr>
                    <tr>
                        <td>Oljeskifte på Tank</td>
                        <td>
                            @Html.RadioButtonFor(m => m.OljeskifteTank, "1") Ok
                            @Html.RadioButtonFor(m => m.OljeskifteTank, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.OljeskifteTank, "3") Defekt
                        </td>
                    </tr>
                    <tr>
                        <td>Oljeskifte på Girboks</td>
                        <td>
                            @Html.RadioButtonFor(m => m.OljeskifteGirboks, "1") Ok
                            @Html.RadioButtonFor(m => m.OljeskifteGirboks, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.OljeskifteGirboks, "3") Defekt
                        </td>
                    </tr>
                    <tr>
                        <td>Ringsylinder | Skift Tetninger</td>
                        <td>
                            @Html.RadioButtonFor(m => m.RingsylinderTetninger, "1") Ok
                            @Html.RadioButtonFor(m => m.RingsylinderTetninger, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.RingsylinderTetninger, "3") Defekt
                        </td>
                    </tr>
                    <tr>
                        <td>Bremsesylinder | Skift Tetninger</td>
                        <td>
                            @Html.RadioButtonFor(m => m.BremsesylinderTetninger, "1") Ok
                            @Html.RadioButtonFor(m => m.BremsesylinderTetninger, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.BremsesylinderTetninger, "3") Defekt
                        </td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th>Elektrisk</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ledningsnett</td>
                        <td>
                            @Html.RadioButtonFor(m => m.Ledningsnett, "1") Ok
                            @Html.RadioButtonFor(m => m.Ledningsnett, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.Ledningsnett, "3") Defekt
                        </td>
                    </tr>
                    <tr>
                        <td>Radio</td>
                        <td>
                            @Html.RadioButtonFor(m => m.Radio, "1") Ok
                            @Html.RadioButtonFor(m => m.Radio, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.Radio, "3") Defekt
                        </td>
                    </tr>
                    <tr>
                        <td>Knappekasse</td>
                        <td>
                            @Html.RadioButtonFor(m => m.Knappekasse, "1") Ok
                            @Html.RadioButtonFor(m => m.Knappekasse, "2") Bør skiftes
                            @Html.RadioButtonFor(m => m.Knappekasse, "3") Defekt
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<h3>
    <label for="TestSettings">Trykksetting og Funksjonstest</label>
</h3>

<div class="col-md-4">
    <div class="label">
        <label for="trykksetting">Trykksetting</label>
    </div>
    @Html.TextBoxFor(m => m.TrykkSetting) Bar
</div>

<div class="col-md-4">
    <div class="label">
        <label for="Trekkkraft">Trekkkraft</label>
    </div>
    @Html.TextBoxFor(m => m.TrekKraft) KN
</div>

<div class="col-md-4">
    <div class="label">
        <label for="BremseKraft">BremseKraft</label>
    </div>
    @Html.TextBoxFor(m => m.BremseKraft) KN
</div>

<div class="col-md-4">
    <div class="label">
        <label for="Resulatat">Resultat For Test</label>
    </div>
    @Html.TextAreaFor(m => m.Resultat)
</div>

<div class="row">
    <div class="col-md-3">
        <label for="MechanicComment">Kommentar:</label>
        <input asp-for="@Model.MechanicComment" class="form-control"/>
    </div>
</div>

    <div class="row">
        <div class="col-md-6 mt-3">
         <button type="submit" class="btn btn-warning">Lagre</button>
            <a href="@Url.Action("Index", "Ordre")" class="btn btn-secondary">Tilbake</a>
        </div>
    </div>

</form>