@model List<nosted_dotnet.MVC.Models.Bruker.BrukerRad>

@{
    ViewData["Title"] = "Bruker";
}
<!DOCTYPE html>
<html>
    <head>
        <script src="~/js/site.js"></script>
        <script>
            function confirmDelete() {
            return confirm("Er du sikker på at du vil slette denne brukeren?");
            }
        </script>
    </head>

<body>

    <h1>Bruker</h1>
    
    <!-- Skjema som skal lage nye rader (Bruker) -->
    <form action="/Bruker/AddRow" method="post">
        <!-- Form fields for new attributes -->
        <input type="number" name="BrukerID" placeholder="Bruker ID">
        <input type="text" name="Navn" placeholder="Navn">
        <input type="text" name="Etternavn" placeholder="Etternavn">
        <input type="text" name="Adresse" placeholder="Adresse">
        <input type="text" name="Telefonnummer" placeholder="Telefonnummer">
       
  
        <select name="Stilling" id="Stilling" placeholder="Stilling">
            <option value="" >Stilling</option>
            <option value="Mekaniker">Mekaniker</option>
            <option value="Kundesenter">Kundesenter</option>
            <option value="Administrator">Administrator</option>
        </select>

        <input type="submit" value="Add">
    </form>


    <!-- Table for Bruker -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Bruker ID:</th>
                <th>Navn:</th>
                <th>Etternavn:</th>
                <th>Adresse:</th>
                <th>Telefonnummer:</th>
                <th>Stilling:</th>
                <th>Action:</th> <!-- Add a new column for the delete button -->
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td>@row.BrukerID</td>
                    <td>@row.Navn</td>
                    <td>@row.Etternavn</td>
                    <td>@row.Adresse</td>
                    <td>@row.Telefonnummer</td>
                    <td>@row.Stilling</td>
                    <td>
                        <!-- Add a delete button that sends a POST request to DeleteUser action -->
                        <form method="post" action="/Bruker/DeleteUser" onsubmit="return confirmDelete()">
                            <input type="hidden" name="brukerId" value="@row.BrukerID" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</body>
</html>