@model nosted_dotnet.MVC.Models.ArbeidsDokument.ArbeidsDokumentModel


<h1>Arbeidsdokument</h1>

<table>
    <tr>
        <th>Uke</th>
        <th>Dato motatt</th>
        <th>Case ferdig?</th>
        <th>Produkttype</th>
        <th>Beskrivelse fra kunde</th>
        <th>Kundeinformasjon</th>
        <th>Avtalt levering</th>
        <th>Produkt motatt</th>
        <th>Avtalt ferdigstillelse innen:</th>
        <th>Service ferdig</th>
        <th>Antall timer</th>
        <th>Ordrenummer</th>
        <th>Serviceskjema</th>
    </tr>
    
        <tr>
            <td>@Model.WeekBookedService</td>
            <td>@Model.DateRecieved</td>
            <td>@Model.IsCaseDone</td>
            <td>@Model.ProductType</td>
            <td>@Model.OrderFromCustomer</td>
            <td>
                <br/>Navn: @Model.CustomerFirstName @Model.CustomerLastName,
                <br/> Adresse: @Model.CustomerAdress,
                <br/> Email: @Model.CustomerEmail,
                <br/> Telefon: @Model.CustomerPhone
            </td>
            <td>@Model.DateAgreedDelivery</td>
            <td>@Model.DateRecievedProduct</td>
            <td>@Model.WithinDateCompletion</td>
            <td>@Model.DateCompletion</td>
            <td>@Model.NumberOfHoursForService</td>
            <td>@Model.OrderNumber</td>
        <td><a href="http://www.@Model.ServiceForm">Serviceskjema</a></td>
        </tr>
</table> 

