@using nosted_dotnet.MVC.Models.Ordre
@using nosted_dotnet.MVC.Entities
@model OrdreDetailsViewModel

<h1>Ordre Detaljer</h1>

<h2>Ordre:</h2>
<p>OrdreID: @Model.Ordre.OrdreId</p>
<p>Service Dato: @Model.Ordre.ServiceDato</p>
<p>Service eller Reperasjon: @Model.Ordre.ServiceRep</p>

<h2>Kunde:</h2>
<p>Kunde ID: @Model.Kunde.KundeId</p>
<p>Fornavn: @Model.Kunde.Fornavn</p>
<p>Etternavn: @Model.Kunde.Etternavn</p>

<h2>Adresse:</h2>
<p>AdreseeId: @Model.Adresse.AdreseeId</p>
<p>Postkode: @Model.Adresse.Postkode</p>
<p>Poststed: @Model.Adresse.Poststed</p>

<h2>Produkt:</h2>
<p>ProduktID: @Model.Produkt.ProduktId</p>
<p>Registreringsnummer : @Model.Produkt.RegNr</p>
<p>Modell: @Model.Produkt.Model</p>

<a href="@Url.Action("Index", "Ordre")" class="btn btn-secondary">Tilbake</a>



