@using nosted_dotnet.MVC.Models.Ordre
@using nosted_dotnet.MVC.Entities
@model OrdreEditViewModel

<link rel="stylesheet" type="text/css" href="~/css/OrdreSkjema.css">


<h1>Edit Ordre</h1>

<a href="@Url.Action("Index", "Ordre")" class="btn btn-secondary">Tilbake til ordrelinje</a>

<form asp-controller="Ordre" asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="@Model.Ordre.OrdreId"/>
    <input type="hidden" asp-for="@Model.Ordre.ProduktId"/>
    <input type="hidden" asp-for="@Model.Ordre.KundeId"/>
    <input type="hidden" asp-for="@Model.Ordre.AdreseeId"/>

    <div class="column">
        <div class="label"><label asp-for="@Model.Ordre.Fornavn">Fornavn</label></div>
        <input class="input" asp-for="@Model.Ordre.Fornavn" type="text" id="Fornavn" />
    </div>
    <div class="column">
        <div class="label"><label asp-for="@Model.Ordre.Etternavn">Etternavn</label></div>
        <input class="input" asp-for="@Model.Ordre.Etternavn" type="text" id="Etternavn" />
    </div>
    
    <div class="clear"></div>

    <div class="column">
        <div class="label"><label asp-for="@Model.Ordre.Email">E-post</label></div>
        <input class="input" asp-for="@Model.Ordre.Email" type="text" id="Email" />
    </div>
    <div class="column">
        <div class="label"><label asp-for="@Model.Ordre.TelefonNr">Telefonnummer</label></div>
        <input class="input" asp-for="@Model.Ordre.TelefonNr" type="text" id="TelefonNr" />
    </div>
    <div class="clear"></div>

    <div class="column">
        <div class="label"><label asp-for="@Model.Ordre.Postkode">Postnummer</label></div>
        <input class="input" asp-for="@Model.Ordre.Postkode" type="text" id="Postkode" />
    </div>
    <div class="column">
        <div class="label"><label asp-for="@Model.Ordre.Poststed">Poststed</label></div>
        <input class="input" asp-for="@Model.Ordre.Poststed" type="text" id="Poststed" />
    </div>
    <div class="column">
        <div class="label"><label asp-for="@Model.Ordre.Gate">Gatenavn</label></div>
        <input class="input" asp-for="@Model.Ordre.Gate" type="text" id="Gate" />
    </div>
    
    <div class="clear"></div>

    <div class="column">
        <div class="label"><label asp-for="@Model.Ordre.RegNr">Registreringsnummer</label></div>
        <input class="input" asp-for="@Model.Ordre.RegNr" type="text" id="RegNr" />
    </div>
    <div class="column">
        <div class="label"><label asp-for="@Model.Ordre.Model">Modell</label></div>
        <input class="input" asp-for="@Model.Ordre.Model" type="text" id="Model" />
    </div>
    <div class="column">
        <div class="label"><label asp-for="@Model.Ordre.Type">Type</label></div>
        <input class="input" asp-for="@Model.Ordre.Type" type="text" id="Type" />
    </div>
     <div class="column">
            <div class="label"><label asp-for="@Model.Ordre.Garanti">Garanti</label></div>
            <input class="input" asp-for="@Model.Ordre.Garanti" type="text" id="Garanti" />
        </div>
    
    <div class="clear"></div>

    <div class="column">
        <div class="label"><label asp-for="@Model.Ordre.ServiceDato">Service dato</label></div>
        <input class="input" asp-for="@Model.Ordre.ServiceDato" type="date" id="ServiceDato" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>
    <div class="column">
        <div class="label"><label asp-for="@Model.Ordre.ServiceRep">Service eller Reperasjon</label></div>
        <input class="input" asp-for="@Model.Ordre.ServiceRep" type="text" id="ServiceRep" />
    </div>
    <button type="submit" class="btn btn-warning">Lagre endringer</button>
    
</form>




