@model nosted_dotnet.MVC.Models.Ordre.OrdreViewModel

@{
    ViewData["Title"] = "Ordre";
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/js/site.js"></script>
</head>

<body>

    <h1>Ordre</h1>

    <!-- Knapp som åpner skjema for ny ordre (ordre) -->
    <button style="margin-top: 10px; margin-bottom: 40px;"><a class="nav-link text-dark" asp-area="" asp-controller="Ordre" asp-action="Ordreskjema">Ny Ordre</a></button>

    

    <!--Tabellvisning for ordre-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ordrenummer:</th>
                <th>Dato motatt:</th>
                <th>Produkttype:</th>
                <th>Serviceskjema:</th>
                <th>Sjekkliste:</th>
                <th>Må fullføres innen:</th>
                <th>Fremgang:</th>
            </tr>
        </thead>
        <tbody>
            
            @*
            @foreach (var row in Model)
            {
                <tr>
                    <td>@row.OrderID</td>
                    <td>@row.DateRecieved</td>
                    <!-- <td> Kunde <td> -->
                    <td>@row.ProductType</td>
                    <td>@row.ServiceSkjema</td>
                    <td>@row.Sjekkliste</td>
                    <td>@row.WithinDate</td>
                    <td>@row.IsDone</td>
                </tr>
            }
            *@
        <tbody>
    </table> 
</body>
</html>