@using nosted_dotnet.MVC.Models.Ordre

@model List<nosted_dotnet.MVC.Models.Ordre.OrdreIndexViewModel>

<h1>Ordre Oversikt</h1>
<script src="js/site.js" defer></script>
<a href="@Url.Action("Create", "Ordre")" class="btn btn-primary">Opprett ny ordre</a>

<table class="table">
    <thead>
    <tr>
        <th>Fornavn</th>
        <th>Etternavn</th>
        <th>Type</th>
        <th>Registreringsnummer</th>
        <th>Service Dato</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ordre in Model)
    {
        <tr>
            <td>@ordre.Fornavn</td>
            <td>@ordre.Etternavn</td>
            <td>@ordre.Type</td>
            <td>@ordre.RegNr</td>
            <td>@ordre.ServiceDato</td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("CreateServiceSkjema", "Ordre", new { id = ordre.OrdreId })">Serviceskjema</a>
            </td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("CreateSjekkliste", "Ordre", new { id = ordre.OrdreId })">Sjekkliste</a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Ordre", new { id = ordre.OrdreId })" class="btn btn-primary">Detaljer</a>
                <a href="@Url.Action("Edit", "Ordre", new { id = ordre.OrdreId })" class="btn btn-primary">Rediger</a>
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Ordre", new { id = ordre.OrdreId }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Slett" class="btn btn-danger" />
                }

            </td>
        </tr>
    }
    </tbody>
</table>
