@model nosted_dotnet.MVC.Models.Ordre.OrdreViewModel

@{
    ViewData["Title"] = "Ordre";
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/js/site.js"></script>
</head>

<body>

    <h1>Ordre</h1>
    
    <!-- Knapp som skal lage nye rader (ordre) -->
    <div class="col-md-12 text-center">
        <button id="addRowButton" class="btn btn-primary">Legg til ny ordre</button>
    </div>

    <!--Tabell for ordre-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ordrenummer:</th>
                <th>Dato motatt:</th>
                <th>Produkttype:</th>
                <th>Serviceskjema:</th>
                <th>Sjekkliste:</th>
                <th>Må fullføres innen:</th>
                <th>Er case ferdig?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.OrdreNummer</td>
                <td>@Model.DatoMotatt</td>
                <td>@Model.ProduktType</td>
                <!-- Serviceskjema knapp -->
                <td>
                    <a href="@Url.Action("Index", "ServiceSkjema")" class="btn btn-primary">Lag Serviceskjema</a>
                </td>
                <!-- Sjekkliste knapp -->
                <td>
                    <a href="@Url.Action("Index", "Checklist")" class="btn btn-primary">Lag Sjekkliste</a>
                </td>
                <td>@Model.InnenDato</td>
                <td>@Model.ErFerdig</td>
            </tr>
        <tbody>
    </table> 
</body>
</html>