@model List<nosted_dotnet.MVC.Models.Ordre.OrdreRad>

@{
    ViewData["Title"] = "Ordre";
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/js/site.js"></script>
</head>

<body>

    <h1>Ordre</h1>

    <!-- Knapp som åpner skjema for ny ordre (ordre) -->
    <button id="openButton" style="margin-top: 10px; margin-left: 90%;">Ny ordre</button>

    <script>
        // Legg til en eventlytter på knappen for å åpne en ny side
        document.getElementById("openButton").addEventListener("click", function () {
            event.preventDefault();
            // Åpne den nye siden
            window.location.href = "/Ordre/Create";
        });
    </script>
    
    <!-- Skjema som skal lage nye rader (ordre) -->
    <form action="/Ordre/AddRow" method="post">
        <!-- Form fields for new attributes -->
        <input type="number" name="OrderID" placeholder="Ordre Nummer">
        <input type="datetime" name="DateRecieved" placeholder="Dato Mottatt">
        <input type="text" name="ProductType" placeholder="Produkt Type">
        <label for="ErFerdig" name="IsDone" placeholder="Framgang"></label>
        <input type="submit" value="Legg til Ordre">
    </form>

    <!--Tabell for ordre-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ordrenummer:</th>
                <th>Dato motatt:</th>
                <th>Produkttype:</th>
                <th>Serviceskjema:</th>
                <th>Sjekkliste:</th>
                <th>Må fullføres innen:</th>
                <th>Fremgang:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td>@row.OrderID</td>
                    <td>@row.DateRecieved</td>
                    <!-- <td> Kunde <td> -->
                    <td>@row.ProductType</td>
                    <td>@row.ServiceSkjema</td>
                    <td>@row.Sjekkliste</td>
                    <td>@row.WithinDate</td>
                    <td>@row.IsDone</td>
                </tr>
            }
        <tbody>
    </table> 
</body>
</html>