@model List<nosted_dotnet.MVC.Models.Ordre.OrdreRad>

@{
    ViewData["Title"] = "Ordre";
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/js/site.js"></script>
</head>

<body>

    <h1>Ordre</h1>
    
    <!-- Skjema som skal lage nye rader (ordre) -->
    <form action="/Ordre/AddRow" method="post">
        <!-- Form fields for new attributes -->
        <input type="number" name="OrderID" placeholder="Ordre Nummer">
        <input type="datetime" name="DateRecieved" placeholder="Dato Mottatt">
        <input type="text" name="ProductType" placeholder="Produkt Type">
        <label for="ErFerdig" name="IsDone" placeholder="Framgang"></label>
        <input type="submit" value="Add Row">
    </form>

    <!--Tabell for ordre-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ordrenummer:</th>
                <th>Dato motatt:</th>
                <th>Produkttype:</th>
                <th>Serviceskjema:</th>
                <th>Sjekkliste:</th>
                <th>Må fullføres innen:</th>
                <th>Framgang:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td>@row.OrderID</td>
                    <td>@row.DateRecieved</td>
                    <td>@row.ProductType</td>
                    <!-- Serviceskjema knapp -->
                    <td>
                        <a href="@Url.Action("Index", "ServiceSkjema")" class="btn btn-primary">Lag Serviceskjema</a>
                    </td>
                    <!-- Sjekkliste knapp -->
                    <td>
                        <a href="@Url.Action("Index", "Checklist")" class="btn btn-primary">Lag Sjekkliste</a>
                    </td>
                    <td>@row.WithinDate</td>
                    <td>@row.IsDone</td>
                </tr>
            }
        <tbody>
    </table> 
</body>
</html>