@model nosted_dotnet.MVC.Models.ArbeidsDokument.OrdreViewModel

@{
    ViewData["Title"] = "Ordre";
}

<h1>Ordre</h1>
    
<form asp-controller="ArbeidsDokument" asp-action="Index" method="post">

    <button type="submit" form="Ordre" value="Submit">Lag ny ordre</button>


</form>

<table id="ordre">
    <tr>
        <th>Ordrenummer:</th>
        <th>Dato mottatt:</th>
        <th>Produkttype:</th>
        <th>Serviceskjema:</th>
        <th>Sjekkliste:</th>
        <th>Må fullføres innen:</th>
        <th>Er case ferdig?</th>
    </tr>
    
        <tr>
            <td>@Model.OrdreNummer</td>
            <td>@Model.DatoMottatt</td>
            <td>@Model.ProduktType</td>
            <td><button type="submit" form="ServiceSkjema" value="Submit">Lag nytt Serviceskjema</button></td>
            <td><button type="submit" form="Sjekkliste" value="Submit">Lag ny sjekkliste</button></td>
            <td>@Model.InnenDato</td>
            <td>@Model.ErFerdig</td>
        <td><button type="button" class="btn btn-success"><i class="button-edit"></i></button></td>
        </tr>
</table> 

