@model nosted_dotnet.MVC.Models.ServiceSkjema.ServiceSkjemaViewModel

@{
    ViewData["Title"] = "Serviceskjema";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/ServiceSkjema.css">

    <title>Serviceskjema</title>
</head>
<body>
    <div class="container">
        <h1>Serviceskjema</h1>
        <form asp-controller="ServiceSkjema" asp-action="Index" method="post">
            @Html.AntiForgeryToken() <!-- This line to includes the anti-forgery token -->
            <div class="column">
                <div class="label"><label for="Kunde">Kunde:</label></div>
                <!-- Razor will automatically HTML-encode alfakrollModel.Kunde osv -->
                <input class="input" type="text" id="Kunde" name="Kunde" value="@Model.Kunde" />
            </div>
            <div class="column">
                <div class="label"><label for="MottattDato">Mottatt dato:</label></div>
                <input class="input" type="datetime-local" id="MottattDato" name="MottattDato" value="@Model.MotattDato.ToString("2023-01-01T00:00:00")" />
            </div>
            <div class="clear"></div>

            <div class="column">
                <div class="label"><label for="KundeMail">Kunde Email:</label></div>
                <input class="input" type="text" id="KundeMail" name="KundeMail" value="@Model.KundeMail" />
            </div>
            <div class="column">
                <div class="label"><label for="KundeAdresse">Kundeadresse:</label></div>
                <input class="input" type="text" id="KundeAdresse" name="KundeAdresse" value="@Model.KundeAdresse" />
            </div>
            <div class="clear"></div>

            <div class="column">
                <div class="label"><label for="KundeTelefonNr">Kundetelefonnummer:</label></div>
                <input class="input" type="tel" id="KundeTelefonNr" name="KundeTelefonNr" value="@Model.KundeTelefonNr" />
            </div>
            <div class="column">
                <div class="label"><label for="Serienummer">Serienummer:</label></div>
                <input class="input" type="text" id="Serienummer" name="Serienummer" value="@Model.Serienummer" />
            </div>
            <div class="clear"></div>

            <div class="column">
                <div class="label"><label for="Produkttype">Produkttype:</label></div>
                <input class="input" type="text" id="Produkttype" name="Produkttype" value="@Model.Produkttype" />
            </div>
            <div class="column">
                <div class="label"><label for="Årsmodell">Årsmodell:</label></div>
                <input class="input" type="text" id="Årsmodell" name="Årsmodell" value="@Model.Årsmodell" />
            </div>
            <div class="clear"></div>

            <div class="column">
                <div class="label"><label for="ServiceRep">Service / rep garanti:</label></div>
                <input class="input" type="text" id="ServiceRep" name="ServiceRep" value="@Model.ServiceRep" />
            </div>
            <div class="column">
                <div class="label"><label for="OrdreNummer">Ordrenummer:</label></div>
                <input class="input" type="text" id="OrdreNummer" name="OrdreNummer" value="@Model.OrdreNummer" />
            </div>
            <div class="clear"></div>

            <div class="row">
                <div class="label"><label for="AvtaltMedKunden">Hva er avtalt med kunden?:</label></div>
                <textarea class="input" id="AvtaltMedKunden" name="AvtaltMedKunden">@Model.AvtaltMedKunden</textarea>
            </div>
            <div class="row">
                <div class="label"><label for="RepBeskrivelse">Reparasjonsbeskrivelse:</label></div>
                <textarea class="input" id="RepBeskrivelse" name="RepBeskrivelse">@Model.RepBeskrivelse</textarea>
            </div>
            <div class="row">
                <div class="label"><label for="MedgåtteDeler">Medgåtte deler:</label></div>
                <textarea class="input" id="MedgåtteDeler" name="MedgåtteDeler">@Model.MedgåtteDeler</textarea>
            </div>
            <div class="clear"></div>

            <div class="column">
                <div class="label"><label for="Arbeidstimer">Arbeidstimer:</label></div>
                <input class="input" type="number" id="Arbeidstimer" name="Arbeidstimer" value="@Model.Arbeidstimer" step="0.01" min="0" />
            </div>
            <div class="column">
                <div class="label"><label for="FerdigDato">Ferdigstilt dato:</label></div>
                <input class="input" type="datetime-local" id="FerdigDato" name="FerdigDato" value="@Model.FerdigDato.ToString("2023-01-01T00:00:00")" />
            </div>
            <div class="clear"></div>

            <div class="column">
                <div class="label"><label for="UtskiftetDelerRetur">Utskiftet deler returnert:</label></div>
                <input class="input" type="text" id="UtskiftetDelerRetur" name="UtskiftetDelerRetur" value="@Model.UtskiftetDelerRetur" />
            </div>
            <div class="column">
                <div class="label"><label for="ForsendelsesMåte">Forsendelsesmåte:</label></div>
                <input class="input" type="text" id="ForsendelsesMåte" name="ForsendelsesMåte" value="@Model.ForsendelsesMåte" />
            </div>
            <div class="clear"></div>

            <div class="column">
                <div class="label"><label for="SignaturKunde">Signatur kunde:</label></div>
                <input class="input" type="text" id="SignaturKunde" name="SignaturKunde" value="@Model.SignaturKunde" />
            </div>

            <div class="column">
                <div class="label"><label for="SignaturRep">Signatur reparatør:</label></div>
                <input class="input" type="text" id="SignaturRep" name="SignaturRep" value="@Model.SignaturRep" />
            </div>
            <div class="clear"></div>

            <div>
                <button class="button" type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>
