@using nosted_dotnet.MVC.Models.Users
@model UsersEditViewModel

<h1>Rediger Bruker</h1>




<form asp-controller="Users" asp-action="Edit" method="post">
    @Html.AntiForgeryToken()

    <div class="column">
        <div class="label"><label asp-for="@Model.User.Id"></label></div>
        <input class="input" asp-for="@Model.User.Id" type="text" id="BrukerId" readonly />
    </div>

    <div class="column">
        <div class="label"><label asp-for="@Model.User.Fornavn"></label></div>
        <input class="input" asp-for="@Model.User.Fornavn" type="text" id="Fornavn" />
    </div>

    <div class="column">
        <div class="label"><label asp-for="@Model.User.Etternavn"></label></div>
        <input class="input" asp-for="@Model.User.Etternavn" type="text" id="Etternavn" />
    </div>

    <div class="column">
        <div class="label"><label asp-for="@Model.User.Email"></label></div>
        <input class="input" asp-for="@Model.User.Email" type="text" id="Email" />
    </div>


   <div class="form-check">
        <input asp-for="IsAdmin" class="form-check-input" />
        <label asp-for="IsAdmin" class="form-check-label"></label>
    </div>

    <div class="column">
     <button type="submit" class="btn btn-warning">Lagre</button>
     <a href="@Url.Action("Index", "Users")" class="btn btn-secondary">Tilbake</a>
    </div>

</form>