﻿@using nosted_dotnet.MVC.Models.Users
@model nosted_dotnet.MVC.Models.Users.UserViewModel

<h1>Brukeradministrasjon</h1>

<form asp-action="save" asp-controller="users" method="post">
    @Html.AntiForgeryToken() <!-- lager anti-forgery token -->
    
    <div class="form-group">
        <label asp-for="Navn" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.Navn" class="form-control" />
            <span asp-validation-for="Navn" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-check">
        <input type="checkbox" id="isAdminCheckbox" asp-for="@Model.IsAdmin" class="form-check-input" aria-required="true" />
        <label for="isAdminCheckbox" class="form-check-label">Administrator</label>
    </div>

    <div>
        <button class="btn btn-warning" type="submit">Lagre</button>
    </div>

    <br>
    <br>

</form>

<table class="table">
    <tr>
        <th>Navn</th>
        <th>Email</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Navn</td>
            <td>@user.Email</td>
            <td>
                <form asp-action="delete" asp-controller="users" method="post" onsubmit="return confirmDelete()">
                    <input type="hidden" name="Email" value="@user.Email" />
                    <input class="btn btn-danger" type="submit" value="Slett" />
                </form>
            </td>
            <td>
                <form asp-action="index" asp-controller="users" method="get">
                    <input type="hidden" name="Email" value="@user.Email" />
                    <input type="submit" value="Endre" />
                </form>
            </td>
        </tr>
    }
</table>

<a href="@Url.Action("Register", "Account")" class="btn btn-warning">Opprett ny bruker</a>
